---
import Layout from '../layouts/Layout.astro';
import published from '../tiddlers/published.json';
import { processLinks } from '../utils/processLinks';

const indexPage = published.find(item => item.slug === 'index');

if (!indexPage) {
	return Astro.redirect('/404');
}

const content = processLinks(indexPage.text);
---

<Layout title={indexPage.title}>
	<div class="content" set:html={content}></div>
</Layout>

<style is:global>
	.content p {
		line-height: 1.6;
		margin-bottom: 1rem;
	}
	
	.content strike {
		color: #888;
	}
</style>
